@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Coven";
  src: url("/fonts/coven_filled_macroman/coven_filled-webfont.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Conven Outlined";
  src: url("/fonts/coven_outlined_macroman/coven_outlined-webfont.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Coven", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

h1 {
  font-family: "Conven Outlined", sans-serif;
  line-height: 1.2;
}
