@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Coven";
  src: url("/fonts/coven_filled_macroman/coven_filled-webfont.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Conven Outlined";
  src: url("/fonts/coven_outlined_macroman/coven_outlined-webfont.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .link-box {
    position: relative;
  }

  .link-box .link-overlay:before {
    display: block;
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  .link-box a:not(.link-overlay) {
    position: relative;
    z-index: 2;
  }
}

@layer utilities {
  .type-outline-lg {
    @apply text-9xl font-sans-outline;
  }

  .type-h1 {
    @apply text-6xl leading-snug;
  }

  .type-h2 {
    @apply text-4xl leading-snug;
  }

  .type-body {
    @apply text-xl;
  }
}
