---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION, AUTHORS } from "../consts";

import { ViewTransitions } from "astro:transitions";
import Filters from "../components/Filters.astro";
import Posts from "../components/Posts.astro";
import { getCollection } from "astro:content";

const stacks = await getCollection("stacks");
---

<script define:vars={{ stacks, AUTHORS }} is:inline>
  const filterByPubDate = (a, b) => {
    console.log(a, b);
    return new Date(b.data.pubDate) - new Date(a.data.pubDate);
  };

  document.addEventListener("alpine:init", () => {
    Alpine.store("authors", {
      authors: AUTHORS,
      getAuthor(author) {
        return this.authors.find((a) => a.name === author);
      },
    });

    Alpine.store("filters", {
      activeFilters: [],
      stacks: stacks.sort(filterByPubDate),
      filteredStacks() {
        if (this.activeFilters.length === 0) {
          return this.stacks;
        }

        const filteredStacks = this.stacks.filter((stack) => {
          return this.activeFilters.some((filter) => {
            return (
              stack.data.tags.includes(filter) ||
              stack.data.category.includes(filter)
            );
          });
        });

        const filteredStacksByDate = filteredStacks.sort(filterByPubDate);

        return filteredStacksByDate;
      },
      addFilter(filter) {
        if (this.activeFilters.includes(filter)) {
          this.activeFilters = this.activeFilters.filter(
            (activeFilter) => activeFilter !== filter
          );
        } else {
          this.activeFilters.push(filter);
        }
      },
    });

    document.querySelectorAll(".posts-skeleton").forEach((el) => {
      el.style = "display: none";
    });
  });

  document.querySelectorAll(".posts-skeleton").forEach((el) => {
    el.style = "display: none";
  });
</script>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions transition:animate={"fade"} />
  </head>
  <body>
    <main class="flex justify-center flex-col items-center py-20 px-12">
      <section class="flex flex-col items-center">
        <h1 class="text-9xl font-black mb-4 brightness-150">Stckz</h1>
        <h2 class="text-4xl mb-12 text-center md:max-w-[60%] brightness-150">
          A one stop shop for ramblings and modern web development stacks.
        </h2>
      </section>

      <div class="grid gap-3 md:grid-cols-[12rem,1fr] w-full">
        <Filters />
        <Posts />
      </div>
    </main>
  </body>
</html>
